.options {
  margin-top: 10px;
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.but {
  font-size: 15px;
  background-color: black;
  color: white;
}

.options button {
  font-size: 20px;
  background-color: black;
  color: white;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.drop {
  margin-top: 5px;
  margin-left: 10px;
  padding: 10px;
  background-color: azure;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 3;
  width: 150px;
}

.onlog{
  font-size: 20px;
  color: brown;
  font-style: italic;
  margin-top: 10px;
}

.delbutton{
   margin-top: 10px;
   margin-left: 250px;
   font-size: 20px;
   background-color:lightgreen;
   width: 250px;
}

.yes-no button{
    font-size: 20px;
    color: white;
    background-color: black;
    margin: 30px;
   
}

.show-details{
   width: 400px;
   background-color: cadetblue;
   border: 5px;
   border-radius: 30px;
   box-shadow: 30px;
   margin-left:450px;

}